//* ESERCIZI


- Crea una pagina che permetta di inserire due numeri all’utente e, tramite dei pulsanti dedicati, calcolare e mostrare nella pagina: 
  la somma, la differenza, la moltiplicazione e la divisione. 
  Ogni operazione deve essere eseguita solo quando l’utente clicca sul relativo pulsante ed entrambi i numeri sono stati inseriti.

- Crea un convertitore di testo: l'utente inserisce una frase e può trasformarla in MAIUSCOLO, minuscolo, Iniziali Maiuscole, o invertire l'ordine delle parole.

- Scrivi una funzione che prenda in ingresso un array di 20 numeri e crei due nuovi array: uno con i numeri pari, uno con i dispari. Mostra entrambi gli array e le loro somme.

- Realizza un gioco "Indovina il numero": il computer sceglie un numero tra 1 e 100. L'utente fa tentativi e riceve feedback "troppo alto", "troppo basso" o "corretto!". Conta i tentativi necessari.

- Crea un timer pomodoro: 25 minuti di lavoro, 5 di pausa. Bottoni per start, pausa, reset.

- Realizza una pagina con un pulsante che ad ogni click mostra una frase casuale presa dal seguente array con il seguente formato (puoi usare anche l’AI per farti generare le citazioni):



const quotes = [
  {
    text: "La vita trova sempre un modo",
    author: "Ian Malcolm, Jurassic Park"
  },
  ...
];

```